@import '../../variable.scss';

h1 {
  margin-bottom: -5px;
  background-color: $color-head;
}

hr {
  margin: 0;
  padding: 1px;
  background-color: $color-hbreak;
}

div {
  background-color: $color-userdata;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: column;

  div:first-child {
    width: 60px;
  }
}
